*,
*:before,
*:after {
    box-sizing: border-box;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 0 0;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    width: 1400px;
}

/* Header */
header {
    width: 100%;
}

.header-top {
    height: 43px;
    background-color: #4cb1ca;
    margin: 0 auto;
}

/* Select Language & Currency*/
select {
    margin-top: 14px;
    border: none;
    background-color: #4cb1ca;
    color: rgb(255, 255, 255);
    font-size: 13px;
    float: left;
}
.options span {
    font-size: 13px;
    display: inline-block;
    margin-top: 12px;
    color: #BEF2FF;
}
.options span:nth-child(1) {
    float: left;
    margin-left: 188px;
}
.options span:nth-child(3) {
    float: left;
    margin-left: 18px;
}

/* Account Menu */
.nav>li {
    display: inline-block;
    font-size: 13px;
    margin-top: 12px;
}

.nav>li>a {
    text-decoration: none;
    color: white;
}

.nav>li>a:hover {
    color: #BEF2FF;
}

.nav>li:nth-child(1){
    margin-left: 418px;
}

.nav>li:not(li:nth-child(1))::before{
    content: " | ";
    margin: 8px;
    color: rgb(255, 255, 255);
}

/* Header-bottom */
.header-bottom {
    height: 105px;
    background-color: white;
    margin: 0 auto;
}

.logo {
    width: 166px;
    height: 26px;
    background-image: url(../img/LOGO_LEOShop.png);
    float: left;
    margin-left: 190px;
    margin-top: 38px;
}

.menu {
    float: left;
    list-style-type: none;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 59px;
}

.menu>li {
    display: inline-block;
    font-size: 14px;
    margin-top: 42px;
    margin-right: 20px;
}

.menu>li:nth-child(5) {
    margin-right: 0;
}

.menu>li>a {
    text-decoration: none;
    color: #656565;
}

.menu>li>a:hover {
    color: #BEF2FF;
}

/* Search */
form {
    display: flex;
    float: left;
    width: 174px;
    height: 29px;
    margin-top: 36px;
    margin-left: 114px;
    background: #ffffff;
}
input, button {
    border: none;
    outline: none;
    background: transparent;
}
input {
    width: 100%;
    height: 29px;
    padding-left: 10px;
    border: solid 1px rgba(0, 0, 0, .3);
}
button {
    height: 29px;
    width: 29px;
    margin: 0 0 0 145px;
    position: absolute;
    cursor: pointer;
}
button:before {
    content: "\f002";
    font-family: 'Font Awesome 5 Free';
    font-size: 15px;
    font-weight: 900;
    color: #00000080;
}

/* Icons */
.icon-round {
    background-image: url(../img/buy1.png);
    background-repeat: no-repeat;
    float: left;
    width: 35px;
    height: 35px;
    margin-left: 14px;
    margin-top: 33px;
    border-radius: 50%;
    position: absolute;
    transition: 0.1ms all;
}

.icon-round:hover {
    transform: scale(1.15,1.15);
}
.icon-round:active {
    transform: scale(1,1);
}

.icon-round2 {
    background-image: url(../img/buy2.png);
    background-repeat: no-repeat;
    float: left;
    width: 35px;
    height: 35px;
    margin-left: 53px;
    margin-top: 33px;
    border-radius: 50%;
    position: absolute;
}

.icon-round2:hover {
    transform: scale(1.15,1.15);
}

.icon-round2:active {
    transform: scale(1,1);
}

.cart{
    width: 59px;
    height: 12px;
    font-size: 12px;
    color: #656565e1;
    font-weight: 800;
    text-transform: uppercase;
    margin-left: 103px;
    margin-top: 43px;
    float: left;
}

/* Slider */
.banner {
    background-image: url(../img/Banner1.png);
    width: 1400px;
    height: 475px;
    float: left;
}

.left {
    margin-left: 121px;
    margin-top: 203px;
    position: absolute;
}

.left:hover {
    opacity: 0.5;
}

.left:active {
    opacity: 0;
}

.right {
    position: absolute;
    margin-left: 1238px;
    margin-top: 203px;
}

.right:hover {
    opacity: 0.5;
}

.right:active {
    opacity: 0;
}
.banner-text p {
    margin-top: 189px;
    font-weight: 100;
    background: #7a736cd5;
    position: absolute;
    margin-left: 236px;
    width: 285px;
    height: 47px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 2px;

}
.banner-text a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.banner-text a:active {
    color: #BEF2FF;
}

.banner-text1 p {
    width: 329px;
    height: 47px;
    opacity: 0.9;
    margin-left: 236px;
    margin-top: 239px;
    background: #7a736c;
    text-transform: uppercase;  
    text-align: center;
    padding-top: 3px;
}

.banner-text1 a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-weight: 700;
}

.banner-text1 a:active {
    color: #BEF2FF;
}


/* Main Content */
.main-content {
    height: 100%;
    width: 1200px;
}
.products {
    position: absolute;
    font-size: 24px;
    text-transform: uppercase;
    color: #635f57;
    margin-top: 37px;
    margin-left: 188px;
}

.card {
    margin-top: 88px;
    margin-left: 191px;
    display: inline-block;
    height: 318px;
    width: 233px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: all .5s ease;
}

.glass a img {
    margin-top: 8px;
    margin-left: 8px;
    height: 228px;
    width: 217px;
    z-index: 50;
    transition: all .5s ease;
}

.glass a img:hover {
    transform: scale(1.075);
}

.new {
    position: absolute;
    margin-left: 140px;
    z-index: 100;
}

.info p:first-of-type {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 14px;
    text-align: left;
    color: #464148;
}

.cost {
    color: #7db122;
    font-size: 18px;
    margin-left: 10px;
    transition: all .3s ease;
}
.cost:hover {
    transform: scale(1.15);
}

.before-cost{
    text-decoration: line-through;
    color: #464148;
    margin-right: 5px;
    font-size: 14px;
}

.info p:last-child {
    position: absolute;
}  

.buy {
    position: absolute;
    border-radius: 50%;
    margin-left: 173px;
    margin-top: -20px;
    transition: all .5s ease;
}

.buy:hover { 
    margin-top: -10px;
} 

.card2 {
    margin-top: 88px;
    margin-left: 28px;
    display: inline-block;
    height: 318px;
    width: 233px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: all .5s ease;
}

.card3 {
    margin-top: 88px;
    margin-left: 28px;
    display: inline-block;
    height: 318px;
    width: 233px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: all .5s ease;
}

.sale{
    position: absolute;
    z-index: 100;
}

.card4 {
    display: inline-block;
    margin-top: 27px;
    margin-left: 191px;
    height: 318px;
    width: 233px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: all .5s ease;
}

.card5 {
    display: inline-block;
    margin-top: 27px;
    margin-left: 28px;
    height: 318px;
    width: 233px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: all .5s ease;
}

.card6 {
    display: inline-block;
    margin-top: 27px;
    margin-left: 28px;
    height: 318px;
    width: 233px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: all .5s ease;
}

.card7 {
    display: inline-block;
    margin-top: 27px;
    margin-left: 191px;
    height: 318px;
    width: 233px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: all .5s ease;
}

.card8 {
    display: inline-block;
    margin-top: 27px;
    margin-left: 28px;
    height: 318px;
    width: 233px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: all .5s ease;
}

.card9 {
    display: inline-block;
    margin-top: 27px;
    margin-left: 28px;
    height: 318px;
    width: 233px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: all .5s ease;
}

.products1 {
    position: absolute;
    font-size: 24px;
    text-transform: uppercase;
    color: #635f57;
    margin-top: 45px;
    margin-left: 188px;
}

.card10 {
    display: inline-block;
    margin-top: 97px;
    margin-left: 191px;
    height: 318px;
    width: 233px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: all .5s ease;
}

.card11 {
    display: inline-block;
    margin-top: 97px;
    margin-left: 28px;
    height: 318px;
    width: 233px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: all .5s ease;
}

.card12 {
    display: inline-block;
    margin-top: 97px;
    margin-left: 28px;
    height: 318px;
    width: 233px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: all .5s ease;
}

.products2 {
    position: absolute;
    font-size: 24px;
    text-transform: uppercase;
    color: #635f57;
    margin-top: 45px;
    margin-left: 188px;
}

.card13 {
    display: inline-block;
    margin-top: 97px;
    margin-left: 191px;
    height: 318px;
    width: 233px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: all .5s ease;
}

.card14 {
    display: inline-block;
    margin-top: 97px;
    margin-left: 28px;
    height: 318px;
    width: 233px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: all .5s ease;
}

.card15 {
    display: inline-block;
    margin-top: 97px;
    margin-left: 28px;
    height: 318px;
    width: 233px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: all .5s ease;
}

[class^="card"]:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/* Right Side Content */
.content-right {
    position: absolute;
    display: inline-block; 
    width: 250px;
    height: 800px;
    margin-left: 28px;
    margin-top: 47px;
}

.banner2 {
    position: relative;
    height: 445px;
    background-color: white;
    width: 233px;
    border: 2px solid rgba(238, 238, 238, 0.8);
    border-top: 4px solid #4cb1ca ;  
}

.banner-prod {
    height: 46px;
    width: 113px;
    font-size: 24px;
    margin-top: 23px;
    margin-left: 60px;
    color: #635f57;
    text-transform: uppercase;
    text-align: center;
}

.banner-bottom {
    background: #4cb1ca;
    width: 132px;
    height: 44px;
    margin-top: 280px;
    margin-left: 38px;
    position: absolute;
}

.banner-bottom p {
    position: absolute;
    font-size: 14px;
    margin-left: 26px;
    color: white;
    margin-top: 12px;
}

.ban-image {
    background-position:top;
    margin-left: 10px;
    position: absolute;
    background-image: url(../img/Banner_right.png);
    background-repeat: no-repeat;
    width: 210px;
    height: 390px;
    margin-top: 20px;
}

.ban-footer {
    width: 233px;
    border:2px solid rgba(238, 238, 238, 0.8);
    height: 41px;
    display: inline-block;
    margin-top: 350px;
    margin-left: -12px;
}

.dot {
    display: inline-block;
    width: 11px;
    height: 11px;
    background: #4cb1ca;
    border-radius: 50px;
    margin-left: 91px;
    margin-top: 14px;
}

.dot1 {
    display: inline-block;
    width: 11px;
    height: 11px;
    background: #7db122;
    border-radius: 50px;
}

.forma { 
    box-sizing: border-box;
    display: inline-block; 
    border: 2px solid rgba(238, 238, 238, 0.8);
    height: 281px;
    width: 233px;
    margin-left: -13px;
    margin-top: 31px;
    border-top:4px solid #4cb1ca ;
}

.press input {
    opacity: 0.8;
    width: 185px;
    height: 29px;
    margin-left: 24px;
    margin-top: 14px;
}

.zagolovok {
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    color: #716e67;
    padding: 20px;
}

.description {
    height: 34px;
    width: 187px;
    font-size: 13px;
    color: #716e67;
    margin-left: 20px;
    text-align: center;
    word-wrap: normal;
}

.bord {
    border-bottom:2px solid rgba(238, 238, 238, 0.8);
    width: 85px;
    margin-top: 10px;
    margin-left: 74px;
}

.button1 {
    position: absolute;
    width:112px;
    height: 44px;
    background: #7eb123;
    margin-left: 61px;
    margin-top: 15px;
}

.button1 p {
    font-size: 14px;
    text-align: center;
    color: white;
    margin-left: 24px;
    margin-top: 12px;
    position: absolute;
}


/* Footer */
footer {
    margin-top: 76px;
    width: 100%;
   
}
.top-footer {
    height: 106px;
    background-color: #4cb1ca;
}

.delivery {
    background-image: url(../img/delivery.png);
    float: left;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    margin-top: 21px;
    margin-left: 188px;
} 

.shipping-txt {
    float: left;
    font-size: 21px;
    font-weight: 200;
    color: white;
    text-transform: uppercase;
    margin-top: 38px;
    margin-left: 20px;
}

.call {
    background-image: url(../img/Call.png);
    float: left;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    margin-top: 21px;
    margin-left: 87px;
}

.call-txt {
    float: left;
    font-size: 21px;
    font-weight: 200;
    color: white;
    text-transform: uppercase;
    margin-top: 38px;
    margin-left: 20px;
}
.phnumber {
    color: inherit;
}

.phnumber:hover {
    color: #9ae2f4;
}


/* Main inf Footer */
.main-footer {
    height: 337px;
    background-color: #39a0b9;
}

/* Facebooc block */
.fb-block {
    margin-left: 188px;
    float: left;
    margin-top: 48px;
}

.fb-txt {    
    position: relative;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}

.members-txt {
    color: white;
    font-size: 13px;
    margin-top: 20px;
}

.like-img {
    margin-top: 4px;
    float: left;
}

.fb-solid {
    background-color: #4cb1ca;
    width: 233px;
    height: 1px;
    margin-top: 35px;
    float: initial;
    margin-bottom: 5px;
}

.avatars {
    margin-top: 5px;
    margin-left: 1px;
}

.avatars1 {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
    -ms-filter: "FlipH";
    margin-right: 1px;
}

.avt {
    margin-right: 7px;
    margin-top: 4px;
}

.avt:first-of-type {
    margin-left: 0px;
}
.avt:last-of-type {
    margin-right: 0px;
}

.fb-solid1 {
    background-color: #4cb1ca;
    width: 233px;
    height: 1px;
    margin-top: 5px;
}

.social-plugin {
    color: white;
    font-size: 13px;
    margin-top: 5px;
}


/* Twitter Block */
.tw-block {
    height: 230px;
    margin-left: 471px;
    margin-top: 48px;
    position: absolute;
    float: left;
}

.from-tw {
    font-size: 20px;    
    color: white;
    text-transform: uppercase;
}

.tw {
    position: absolute;
    margin-top: 30px;
}

.tw p {
    position: absolute;
    color: white;
    font-size: 13px;
    margin-left: 55px;
    margin-top: -45px;
    white-space: nowrap;
}

.color-txt {
    color: white;
}

.color-txt:hover {
    color: #9ae2f4;
}

.tw1 {
    position: absolute;
    margin-top: 131px;
}

.tw1 p {
    position: absolute;
    color: white;
    font-size: 13px;
    white-space: nowrap;
    margin-left: 55px;
    margin-top: -45px;
}


/* Information Block */
.inform-block {
    position: absolute;
    margin-left: 766px;
    margin-top: 48px;
    height: 186px;
    width: 196px;
}

.info-txt {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
}

.inform {
    margin-top: 34px;
}

.inform ul li {
    list-style: none;
    color: white;
    font-size: 13px;
    padding-bottom: 5px;
}

.inform li:hover {
    color: #9ae2f4;
}

.inform li::before {
   content: '\f105';
   font-family: 'Font Awesome 5 Free';
   font-weight: 600;
   color: white;
   margin-right: 10px;
}


/* Contacts Block */
.contact-block {
    margin-top: 48px;
    margin-left: 1010px;
    position: absolute;
}
.contacts {
    margin-left: 130px;

}
.contacts a {
    color: white;
    font-size: 13px;
}

.contact-txt {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
}
.ul-contact {
    color: #ffffff;
    position: relative;
    margin-top: 32px;
    margin-bottom: 10px;
    font-size: 13px;
}
.li-contact {
    padding-bottom: 5px;
    list-style-type: none;
}
.li-contact a {
    color: #ffffff;
    text-decoration: none;
}

.li-contact a:hover {
    color: #9ae2f4;
}

.line-contact {
    background-color: #4cb1ca;
    width: 196px;
    height: 1px;
    position: relative;
}

.img-contact {
    position: relative;
    margin-top: 12px;
    margin-right: 5px;
}


/* Footer Bottom */
.bottom-footer {
    height: 61px;
    background-color: #0b4b5a;
}

.copyright {
    color: #8adcf0;
    font-size: 13px;
    margin-left: 192px;
    margin-top: 20px;
    position: absolute;
}


/* Navigation Bottom */
.nav-footer {
    position: absolute;
    margin-left: 770px;
    font-size: 13px;
}

.nav-footer li {
    margin-top: 20px;
    display: inline-block;
}

.nav-footer a {
    color: #8adcf0;
    text-decoration: none;
}

.nav-footer li + li ::before {
    content: " | ";
    margin: 8px;
}

.nav-footer>li>a:hover {
    color: white;
}